
body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    
}

section{
    height: 550px;
}

h1{
    font-size: 48px;
}

p{
    font-family: 'Noto Sans JP', sans-serif;
}

.name{
    color: rgb(255, 145, 0);
}

.half-width{
    width: 38%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

.top-banner{
   background-image: url("/images/banner.png");
   background-repeat: no-repeat;


}