
body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    
}

section{
    height: 550px;
}

h1{
    font-size: 48px;
}

p{
    font-family: 'Noto Sans JP', sans-serif;
}

.name{
    color: rgb(255, 145, 0);
}

.half-width{
    width: 38%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

.top-banner{
   background-image: url("/images/banner.png");
   background-repeat: no-repeat;


}


h1{
    color: blueviolet;
}

h1:hover{
    color:red ;
}

.spacial-class:hover{
color: rosybrown;
}
input:focus{
    font-weight: 700;
    color: sandybrown;
}

li:first-child{
    background-color: steelblue;
}
li:nth-child(2n){
    background-color: red;
}

a:visited{
    color: seagreen;
}

.pseudo h1::before{
    content: " hello";
    color: rgb(215, 6, 243);
    font-size: 18px;
}

.pseudo h1::after{
    content: " 😃";
    color: rgb(243, 6, 6);
    font-size: 18px;
}

